<body>
    <table border="0">
        <tr style="height: 30px;">
            <td style="width: 50px;"></td>
            <td style="text-align: center; font-size: 18px;">Здравствуйте, <span style="color: #C69AFF">{{ username }}</span></td>
            <td style="width: 50px;"></td>
        </tr>
        <tr style="height: 70px;">
            <td></td>
            <td style="text-align: center;">Вы успешно зарегистрировались на сайте SaleHunter</td>
            <td></td>
        </tr>
    </table>
</body>