<body>
    <table border="0">
        <tr style="height: 30px;">
            <td style="width: 50px;"></td>
            <td style="text-align: center; font-size: 18px;">Если вы не запрашивали смены пароля, <span style="color: #C69AFF">проигнорируйте</span> это письмо.</td>
            <td style="width: 50px;"></td>
        </tr>
        <tr style="height: 70px;">
            <td></td>
            <td style="text-align: center;">Для восстановления пароля нажмите на кнопку</td>
            <td></td>
        </tr>
        <tr style="height: 30px;">
            <td></td>
            <td style="text-align: center;"><a href="{{ reset_link }}" style="text-decoration: none; display: block; width: 200px; height: 50px; background: #C69AFF; border: none; border-radius: 15px; font-weight: 500; font-size: 16px; color: #FFFFFF; margin: auto; line-height: 50px;">Восстановить пароль</a></td>
            <td></td>
        </tr>
    </table>
</body>